section.content
	.content-container
		.main-speach
			p Рекламное агентство полного цикла “Адекват”(Adequate) предлагает размещение рекламы на Фасадах зданий на рекламных Щитах в Интернете, центральных и региональных СМИ, на ТВ и радио, проводит Промо акции. Опыт успешной работы на рекламном рынке более 10 лет начиная с 2007 года.
		.profitable
			.profitable-desc
				h5 У нас выгодно!
				p Многие бишкекские рекламные компании работают с наценкой на стоимость заказа. Рекламное агентство “Адекват”(Adequate) имеет собственное производство и рекламные щиты в Бишкеке, поэтому в стоимость наших услуг не закладывается лишняя наценка за посредничество. Мы можем предложить низкие цены при самом высоком качестве работы!
			.profitable-picture
		.equipment
			.equipment-picture
			.equipment-desc
				h5 Высокотехнологичное оборудование
				p Рекламное агентство “Адекват”(Adequate) обладает собственными рабочими цехами с самым современным оборудованием для широкоформатной печати и полиграфии. Мы оказываем полный перечень услуг изготовления  печатной продукции, обеспечив вам полный цикл разработки и реализации рекламной компании на изображениях любого формата, как для интерьерного применения, так и для наружной рекламы.
		.approach
			.approach-desc
				h5 Профессиональный подход
				p Мы предлагаем вам профессиональный и эффективный подход, который познакомит вашу компанию с целевой аудиторией, поможет вам увеличить число клиентов и завоевать доверие в своей сфере. Для рекламного агентства полного цикла “Адекват”(Adequate) нет невыполнимых задач – мы сможем воплотить в жизнь любую рекламную кампанию, которая нужна именно вашему бизнесу.
				#order-call
		.form-container
			p Начнём работать вместе уже сейчас
			form(action="" method="post").form
				.date
					input(type="text" name="login" id="login" placeholder="Имя")
					input(type="text" name="tel" id="tel" placeholder="Телефон")
					input(type="email" name="email" id="email" placeholder="Email")
				textarea(name="text" placeholder="Заявка").application
				input(type="submit" name="submit" value="Отправить").btn-send