section.footer
	.footer-contaner
		.footer-top
			ul.team.title
				li Наша Команда
				li.avatar.general
				li.avatar-name Антон
				li.avatar-position Гениральный директор
				li.avatar.auditor
				li.avatar-name Анара
				li.avatar-position Главный бухгалтер
				li.avatar.menedger
				li.avatar-name Руслан
				li.avatar-position Менеджер по рекламе
			ul.services.title
				li Наши услуги
				li
					a(href="#") Биллборды(Щиты)
				li
					a(href="#") Брандмауэры
				li
					a(href="#") Промо Акции
				li
					a(href="#") Проведение Акции<br>"Тайный Покупатель"
				li
					a(href="#") Реклама в Пресса
				li
					a(href="#") Реклама на Радио
				li
					a(href="#") Реклама на Телевидении
				li
					a(href="#") Реклама на Транспорте
				li
					a(href="#") Реклама в Гипермаркетах
				li
					a(href="#") Реклама в Подъездах
				li
					a(href="#") Реклама в Лифтах
				li
					a(href="#") Полиграфия
				li
					a(href="#") Реклама в Аэропорту
				li
					a(href="#") Услуги Дизайнера
				li
					a(href="#") Реклама в Интернет
			ul.our-contacts.title
				li Контакты
				li Кыргызская Республика, г.Бишкек,
				li ул. Саманчина, 6 перес. ул. Советская
				li офис: +(996) (312) 89-01-29
				li офис: +(996) (312) 54-27-03
				li сот: +(996) (772) 53-63-33 
				li сот: +(996)(772) 53-63-63
				li e-mail: an18@mail.ru
				li e-mail: an18@adv.kg
				li icq: 231033387
		.footer-bottom
			p www.adv.kg 2017 Все права защищены.
#back-to-top
	+icon('up-arrow')