section.header
	.header-top#fixmenu
		.header-top-container
			a(href="/").header-logo
			.sandwich-menu
				span.sandwich-menu-top
				span.sandwich-menu-middle
				span.sandwich-menu-bottom
			ul.header-nav
				li
					a(href="/").active-link Наши услуги
				li
					a(href="#") Продукция
				li
					a(href="#") Цены
				li
					a(href="#") О нас
				li
					a(href="#") Контакты
			.tell
				.our-tell тел.89-01-29
				a(href="#order-call").order-call Заказать звонок
	.header-bottom
		.main-banner
			.our-services
				a(href="#").background
					+icon('billboard')
					.icon-title Билборды(Щиты)
				a(href="#").background
					+icon('firewall')
					.icon-title Брандмауэры
				a(href="#").background
					+icon('promoaction')
					.icon-title Промо Акции
				a(href="#").background
					+icon('incognito')
					.icon-title Проведение Акции<br>"Тайный Покупатель"
				a(href="#").background
					+icon('printed')
					.icon-title Реклама в Пресса
				a(href="#").background
					+icon('radio')
					.icon-title Реклама на Радио
				a(href="#").background
					+icon('television')
					.icon-title Реклама <br>на Телевидении
				a(href="#").background
					+icon('bus')
					.icon-title Реклама <br>на Транспорте
				a(href="#").background
					+icon('shop')
					.icon-title Реклама <br>в Гипермаркетах
				a(href="#").background
					+icon('entrance')
					.icon-title Реклама <br>в Подъездах
				a(href="#").background
					+icon('lift')
					.icon-title Реклама в Лифтах
				a(href="#").background
					+icon('newspaper')
					.icon-title Полиграфия
				a(href="#").background
					+icon('flight')
					.icon-title Реклама <br>в Аэропорту
				a(href="#").background
					+icon('disign')
					.icon-title Услуги Дизайнера
				a(href="#").background
					+icon('internet')
					.icon-title Реклама в Интернетe
				a(href="#").background
					+icon('bus')
					.icon-title Реклама <br>на Транспорте
