@font-face {
			font-family: "TrebuchetMS";
			src: url("../fonts/TrebuchetMS/TrebuchetMS.eot");
			src: url("../fonts/TrebuchetMS/TrebuchetMS.eot?#iefix")format("embedded-opentype"),
			url("../fonts/TrebuchetMS/TrebuchetMS.woff") format("woff"),
			url("../fonts/TrebuchetMS/TrebuchetMS.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
	
@font-face {
			font-family: "TrebuchetMS-Italic";
			src: url("../fonts/TrebuchetMS-Italic/TrebuchetMS-Italic.eot");
			src: url("../fonts/TrebuchetMS-Italic/TrebuchetMS-Italic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/TrebuchetMS-Italic/TrebuchetMS-Italic.woff") format("woff"),
			url("../fonts/TrebuchetMS-Italic/TrebuchetMS-Italic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
	
@font-face {
			font-family: "Trebuchet-BoldItalic";
			src: url("../fonts/Trebuchet-BoldItalic/Trebuchet-BoldItalic.eot");
			src: url("../fonts/Trebuchet-BoldItalic/Trebuchet-BoldItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/Trebuchet-BoldItalic/Trebuchet-BoldItalic.woff") format("woff"),
			url("../fonts/Trebuchet-BoldItalic/Trebuchet-BoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
	
@font-face {
			font-family: "TrebuchetMS-Bold";
			src: url("../fonts/TrebuchetMS-Bold/TrebuchetMS-Bold.eot");
			src: url("../fonts/TrebuchetMS-Bold/TrebuchetMS-Bold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/TrebuchetMS-Bold/TrebuchetMS-Bold.woff") format("woff"),
			url("../fonts/TrebuchetMS-Bold/TrebuchetMS-Bold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}