@media screen and (max-width: 1182px)
	.sandwich-menu
		display block
	
	ul.header-nav
		display none
		
	ul.sandwich-menu-link
		display block
		order 3
		margin 10px 0 0
		width 100%
		background-color mainColor
		z-index 3
		
		li
			display block
			margin 0
			padding 0
			border-bottom 1px solid #fff
			
			&:last-child
				border-bottom none
			a
				display block
				padding 12px 21px
				color #fff
				
				&:hover
					background-color buttonHoverColor
					color mainTextColor
					font-size rem(23)
					transition all .5s
					
	.header-top
		display flex
		justify-content space-between
		flex-wrap wrap
		align-items center
		padding 11px 15px 11px
		
	.header-logo
		size(85px,59px)
		
	.our-tell,
	.order-call
		font-family italicFont
		font-size rem(16)
		
	.icon-up-arrow
		display none
		
@media screen and (max-width: 1063px)
	.profitable-picture,
	.equipment-picture
		display none
		
@media screen and (max-width: 800px)
	.profitable-desc,
	.equipment-desc,
	.approach-desc
		padding 30px 20px
		
@media screen and (max-width: 663px)
	.main-speach
		font-size rem(18)
		
	.profitable-desc,
	.equipment-desc,
	.approach-desc
		h5
			font-size rem(18)
			
		p
			font-size rem(16)

	.form-container>p
		font-size rem(20)
		
	.form,
	.btn-send
		font-family mainFont
		font-size rem(16)
		
	ul.title>li:nth-child(1)
		font-size rem(18)
		

