// ЦВЕТА

mainColor = #a7301e
headerColor = #333
buttonHoverColor = #F2A92C
mainBackgroundTextColor = #f1ebe4
addBackgroundTextColor = #595959
mainTextColor = #1A1A1A

// РАЗМЕРЫ


// ШРИФТЫ

mainFont = "TrebuchetMS"
italicFont = "TrebuchetMS-Italic"
boldItalicFont = "Trebuchet-BoldItalic"
boldFont = "TrebuchetMS-Bold"